.idea
.DS_Store
__pycache__
*.pyc
*.egg-info/
.tox

# Poetry things
.venv
dist

# Tasty
output
debug.py
haystack_*.ttl
input-file.csv
tasty/utils/temp
!tests/files/*/haystack_*.ttl

# Jupyter
.ipynb_checkpoints

# temporary ignores
tests/files/test.hayson.json

# don't ignore test instance data
!tests/files/data/*
